body {
  background-color: #FDE2F3;
  color: #2A2F4F;
}

.marge {
  margin: 10px;
}

h1 {
  text-align: center;
  color: #2A2F4F;

  p {
    font-family: Calibri;
  }
}

h2 {
  color: #2A2F4F;

  p {
    font-family: Optima;
  }
}

p {
  padding: 20px;

}

p.accroche {
  text-align: center;
}

.centrage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chiffres-clés{
  background-color: #917FB3;
  border: 10px;
  border-color: #917FB3;
  box-shadow: 0px 0px 0px 0px black;
  padding-left: 10px;
}

.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #917FB3;
}

.div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #917FB3;
}

.monde {
  display: flex;
  padding-right: 10px;
  justify-content: space-evenly;

}

.perf{
  display: flex;
  justify-content: center; 
  align-items: center;

}


#monde{
  display: flex;
  align-self: center;
  justify-self: center;

}

#monde2{
  display: flex;
  align-self: center;
  justify-self: center;

}
.titre{
  display: flex;
  justify-self: start;
  align-self: center;
}


.performance {
  display: flex;

}

/*bouton télécharger*/

.bouton-telecharger {
  display: inline-block;
  padding: 10px 20px;
  background-color: #917FB3;
  color: #2A2F4F;
  text-decoration: none;
  border-radius: 5px;
}

/* Menu burger*/
nav {
  background-color: #003C57;
  color: white;
}

li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

li {
  margin: 10px 10px 10px 10px;
}

li a:hover {
  color: #0594D0;
  transition-duration: 0.5s;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 20px;
  list-style: none;
  background-color: #21435a;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .5s;
  font-size: large;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

/*fil ariane*/
.breadcrumb {
  padding: 10px;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 1px;
  padding: 1px;
}

.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 .25rem;
  content: " →";
}

/*Footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #003C57;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
